{% extends 'base.html.twig' %}

{% block title %}HomePage{% endblock %}

{% block body %}
    <div class="d-flex align-items-center justify-content-center vh-100 flex-column">
            <h1 class=" font-weight-normal text-center"><img src="{{ asset('/img/EPI_logotype-couleurs_fond-blanc_en.png') }}" alt="" width="30%" height="auto">Connexion Episciences</h1>
            <a class="btn btn-outline-info btn-lg d-block w-50" href="{{ path('login') }}">Login</a>
    </div>
{% endblock %}
