{% extends 'base.html.twig' %}
{% block title %}{{ 'error'|trans }}{% endblock %}
{% block body %}
    {% include './navbar/navbar.html.twig' %}
    <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
        <h1>{{ statusCode }}</h1>
        <p>
            {{ message }}
        </p>
    </div>
{% endblock %}