{% extends 'base.html.twig' %}

{% block body %}
    <h1></h1>
    <p>
        The requested page couldn't be located. Checkout for any URL
        misspelling or <a href="{{ path('home') }}">return to the home</a>.
    </p>
{% endblock %}